<footer class="site_footer">
    <div class="wrapper">
        <div class="flex_container row">
            <div class="col-sm-12 col-6">
                <div class="paragraph">
                    <p>
                        Afroditi Simita<br />
                        Wholesale
                    </p>
                    <p>
                        Email: <a href="mailto:info@afroditisimita.com">info@afroditisimita.com</a><br />
                        Tel: <a href="tel:+306974304149">+30 697 4304149</a>
                    </p>
                </div>
            </div>

            <div class="col-sm-12 col-6 back_to_top_container">
                <button class="button back_to_top">Back to top</button>
            </div>
        </div>
    </div>

</footer>