.main_home{

    .intro_section{
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .products_section{

        .product{
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 60px;
            cursor: pointer;

            .product__image{
                margin-bottom: 12px;

                &:before{
                    content: '';
                    position: absolute;
                    top: 8px;
                    right: 8px;
                    background-image: url( '../../img/icons/icon_view_details.svg' );
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 18px 18px;
                    width: 18px;
                    height: 18px;
                }
            }

            .product__title{
                margin-bottom: 8px;
            }

        }
    }
}